.box .input {
  flex-grow: 1;
}

.input-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}

.input-row label {
  margin-right: 0.5em;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  flex-basis: 120px;
  justify-content: flex-end;
  font-weight: 500;
  text-align: right; /* kicks in when label is multi-line */
  line-height: 1.2;
}

/* Help align inputs better at mid-size viewport width */
.input-row .ui.input > input {
  width: 120px;
}

.input-row .ui.labeled.input > .label {
  min-width: 100px;
}

.input-row .ui.dropdown > .dropdown.icon {
  position: absolute;
  right: 10px;
}

.input-help {
  display: inline-flex;
  flex-direction: row;
  flex-basis: 36px;
  align-items: center;
  justify-content: center;
  font-size: 0.65em;
}

.input-help i.icon {
  margin-right: 0 !important;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
  cursor: pointer;
}

.input-help i.icon:hover {
  background-color: #00b5ad;
  color: white !important;
}

@media only screen and (max-width: 500px) {
  .input-row {
    display: block;
    position: relative;
  }

  .input-row label {
    width: 100%;
    display: block;
    text-align: left;
    margin-bottom: 0.5em;
    padding-right: 40px;
  }

  .ui.input {
    width: 100%;
  }

  .input-help {
    position: absolute;
    top: 0;
    right: 2px;
  }
}
