footer {
  text-align: center;
  font-size: 0.8em;
  color: rgb(108, 110, 111);
  text-shadow: 0 1px white;
}

@media only screen and (min-width: 768px) {
  footer {
    text-align: right;
  }
}

footer a,
footer a:visited,
footer a:hover,
footer a:active {
  color: inherit;
}

footer svg {
  height: 1.2em;
  margin-left: 1em;
  margin-right: 1em;
  max-height: 2.5em;
  vertical-align: middle;
  fill: currentColor;
}

footer a:last-of-type svg {
  margin-right: 0;
}
